
 <mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push" color="warn">
        <mat-toolbar color="warn">
             <span>Menu</span>
             <span class="spacer"></span>
             <button mat-icon-button
             (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
             </button>

        </mat-toolbar>
        <mat-nav-list 
        (click)="sidenav.toggle()"
        color="warn">

            <a routerLink="./listado"
               mat-list-item>
               <mat-icon mat-list-icon>view_list</mat-icon>
             <span>Listado de Heroes</span>
            </a>

            <a routerLink="./agregar"
            mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>
          <span>Anadir Heroe</span>
         </a>

         <a routerLink="./buscar"
         mat-list-item>
         <mat-icon mat-list-icon>search</mat-icon>
       <span>Buscar Heroe</span>
        </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar >
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
<span class="spacer"></span>
        <button mat-icon-button>
        <mat-icon mat-list-icon>
            logout
         </mat-icon>
        </button>
    </mat-toolbar>
    

    <div class="container">
        <router-outlet></router-outlet>
    </div>

    

 </mat-sidenav-container>